---
layout: default
---

<section class="grid-middle relative">

  <div>
    <a href="/{{page.category}}" class="northarrow">
      <img class="art-img" src="{{page.image_path}}">
    </a>
  </div>

  <div class="grid-left stack art-text padded-1">
    <h2> {{page.title}} </h2>
    <p> {{page.medium}} </p>
    {% if page.size %}
    <p> {{page.size}} <p>
    {% endif %}
      {% if page.buy-link %}
      <a href="mailto:joe@example.com?subject=feedback" class="button">contact</a>
      {% else %}
    <h3> sold! <h3>
      {% endif %}
  </div>
</section>
